@import "../../app.component.scss";
.grid-component {
  .grid-container {
    display: grid;
    grid-template-columns: 150px 1fr;
    column-gap: 70px;
    max-height: 0;
    @include responsive(phone) {
      grid-template-columns: 1fr;
    }
    .left {
      display: flex;
      flex-direction: column;
      gap: 10px;
      @include responsive(phone) {
        display: none;
      }
      .left-btn {
        border: none;
        padding: 2px 7px;
        border-radius: 4px;
        height: 35px;
        cursor: pointer;
        transition: all 100ms ease-in-out;
        &:hover {
          transform: translateY(-2px);
          color: white;
        }
        &:active {
          opacity: 0.7;
        }
      }
    }
    // start here
    .grid-action {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 35px;
      max-height: 0;
      .form-title {
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        font-family: "Dancing Script", cursive;
      }

      input[type="text"] {
        border-radius: 5px;
        border: none;
        padding: 14px 10px;
        font-size: 18px;
        outline: none;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
      }
      .form-actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        .form-action {
          border-radius: 5px;
          border: none;
          padding: 14px 10px;
          font-size: 18px;
          outline: none;
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
          cursor: pointer;
          color: white;
          &:hover {
            transform: translateY(-2px);
            color: white;
          }
          &:active {
            opacity: 0.7;
          }
          &:disabled {
            background-color: rgb(172, 172, 172);
            cursor: not-allowed;
            &:active {
              opacity: 1;
            }
          }
        }
        .reset {
          background-color: green;
        }
        .submit {
          background-color: blue;
        }
      }
    }
  }
}

input.ng-invalid.ng-touched {
  border: 1px solid red !important;
}
